*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.app__header {
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  position: fixed;
  width: 100%;
}

.app__main {
  padding-top: 80px;
}

.app__input {
  margin: 25px;
}

.app__nav {
  display: flex;
  justify-content: space-evenly;
}

.app__footer {
  position: fixed;
  padding: 10px;
  bottom: 0px;
  width: 100%;
  height: 40px;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
