*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.app__header {
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  position: fixed;
  width: 100%;
}

.app__main {
  padding-top: 80px;
}

.app__input {
  margin: 25px;
}

.app__content--results {
  border: 5px dotted rgb(167, 145, 145);
  border-radius: 50%;
  margin: 35px;
  padding: 10rem;
}

.app__nav {
  display: flex;
  justify-content: space-evenly;
}
.app__color--age {
  color: rgba(74, 74, 215, 0.892);
  text-decoration: none;
  border: 1px double rgba(74, 74, 215, 0.892);
  padding: 10px;
  border-radius: 10px;
}

.app__color--nation {
  color: rgb(218, 172, 86);
  text-decoration: none;
  border: 1px double rgb(218, 172, 86);
  padding: 10px;
  border-radius: 10px;
}

.app__color--gender {
  color: rgb(145, 198, 145);
  text-decoration: none;
  border: 1px double rgb(145, 198, 145);
  padding: 10px;
  border-radius: 10px;
}

.app__footer {
  border: 1px solid black;
  position: fixed;
  padding: 30px;
  bottom: 0px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

button {
  padding: 10px;
  background-color: rgba(218, 105, 105, 0.959);
  color: white;
  border-radius: 10px;
}
